<div class="sidebar">
  <h2>SAAM & SONS <span class="break">DISTRIBUTORS</span></h2>
  <ul>
    <li>
      <a routerLink="/products" routerLinkActive="active">
        <i class="fas fa-box"></i> Products
      </a>
    </li>
    <li>
      <a routerLink="/cart" routerLinkActive="active">
        <i class="fas fa-shopping-cart"></i> Cart
      </a>
    </li>
    <li>
      <a routerLink="/create-product" routerLinkActive="active">
        <i class="fas fa-plus-circle"></i> Create Product
      </a>
    </li>
    <li>
      <a routerLink="/clients" routerLinkActive="active">
      <i class="fa fa-users"></i> Clients
      </a>
    </li>
  </ul>
</div>
