.sidebar {
  height: 100vh;
  background-color: #142025; /* Light marine blue */
  color: #d8d6d6;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: fit-content;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

@media (max-width: 768px) {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0;
  display: flex;
  justify-content: space-around;
}
}


.sidebar h2 {
  margin-top: 0;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  color: #d8d6d6; /* Deep marine for contrast */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 2rem;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
}

.sidebar a.active {
  font-weight: bold;
  text-decoration: none;
}

.break{
    display: block;
}

.sidebar a i {
  margin-right: 8px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;

  &.active {
    color: #ff5e9c; // 🌸 fancy pink
    font-weight: 600;
    text-decoration: underline;
  }

  &:hover {
    color: #ff82b2; // lighter pink on hover
  }
}

li a.active {
  color: #e74c3c !important;
}

li {
  position: relative;

  a.active::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff4f4f;
  }
}